<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Add Event</title>
</head>

<body class="bg-light">
    {% include "partials/navbar.html" %}

    <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
        <div class="border rounded shadow-lg p-4 mb-5">
            <form id="main-form" data-id="{{ event_detail.event_id }}">
                <div class="mb-3">
                    <label for="event_title" class="form-label">Event Title:</label>
                    <input type="text" class="form-control" id="event_title" name="event_title"
                        value="{{ event_detail.event_title }}">
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="event_location" class="form-label">Location:</label>
                        <input type="text" class="form-control" id="event_location" name="event_location"
                            value="{{ event_detail.event_location }}">
                    </div>

                    <div class="col mb-3">
                        <label for="event_date" class="form-label">Date:</label>
                        <input type="datetime-local" class="form-control" id="event_date" name="event_date"
                            value="{{ event_detail.event_date }}">
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="client_name" class="form-label">Client Name:</label>
                        <input type="text" class="form-control" id="client_name" name="client_name"
                            value="{{ event_detail.client_name }}">
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        <label for="client_contact" class="form-label">Contact No:</label>
                        <input type="tel" pattern="[0-9]{10}" class="form-control" id="client_contact"
                            name="client_contact" value="{{ event_detail.client_contact }}">
                    </div>

                    <div class="col mb-3">
                        <label for="client_email" class="form-label">Client Email:</label>
                        <input type="email" class="form-control" id="client_email" name="client_email"
                            value="{{ event_detail.client_gmail }}">
                    </div>
                </div>

                <div class="row px-2 my-2 mb-3">
                    <button type="submit" class="btn btn-success">
                        <h5>Update</h5>
                    </button>
                </div>

                <div class="row px-2 my-2">
                    <button type="button" class="btn btn-danger" onclick="assignEmployees();">
                        <h5>Assign Employee(s)</h5>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="/static/edit_events.js"></script>
</body>

</html>