<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Events</title>
</head>

<body class="bg-light">
    {% include partials/navbar.html %}

    <div class="container-fluid vh-100">
        <div class="row h-100">

            <!-- Events -->
            <div class="col-md-7 mx-4 h-100 overflow-y-auto" tabindex="0">
                <div class="p-4 pb-0">
                    <h2 class="border-bottom border-dark">Events:</h2>
                </div>
                <div id="events" class="p-4">

                    {% for event in events %}
                    <div class="row mb-4">
                        <div data-id="{{ event.id }}" onclick="eventDetails(this);" class="card p-5">
                            <h3 class="border-bottom border-dark pb-2">{{ event.title }}</h3>
                            <div>
                                <span class="text-secondary">Date: {{ event.date }}</span>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <h2>No Events!</h2>
                    {% endfor %}

                </div>
            </div>

            <!-- Event Details -->
            <div class="col-md-4 bg-light m-4 h-75 d-flex flex-column border">
                <div class="p-4">
                    <h3 class="border-bottom border-dark pb-2">Event Details:</h3>
                    <div class="border border-dark p-4 mt-4 rounded">

                        <div class="my-2 p-2 border border-dark rounded">
                            <h5>Title: <span id="event-title" class="text-primary">Event Title</span></h5>
                        </div>

                        <h5>Client Info:</h5>
                        <div class="row">
                            <div class="col border border-dark rounded m-2 py-2 pb-3">
                                <div>Name:</div>
                                <span id="client-name" class="text-primary">Client Name</span>
                            </div>
                            <div class="col border border-dark rounded m-2 py-2 pb-3">
                                <div>Contact No:</div>
                                <span id="client-contact" class="text-primary">XXXXXXXXXX</span>
                            </div>
                        </div>

                        <h5>Assigned Employee(s):</h5>
                        <div class="row px-2 text-primary">
                            <div class="border border-dark p-2 mb-2 rounded">
                                <div id="employees" class="row">
                                    <div class="col-6 text-decoration-underline">None</div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-2">
                            <button type="button" class="btn btn-danger py-3" onclick="addEvent();">
                                <h5>Add Event</h5>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script src="/static/events.js"></script>
</body>

</html>